/* on  peut mettre du commentaire avant un import mais JAMAIS ,une déclaration css autre qu'un autre import */
@import url('./roboto.css');

:root{
    font-family: 'Roboto';
    font-size: 1.1rem;
    line-height: 1.8rem;
    --site-bg-color: white;
    --site-color: rgb(51, 51, 51);
    --table-border: rgb(222, 52, 0);
    --edit-button: rgb(25, 130, 25);
    --edit-button-hover: rgba(25, 130, 25, 0.8);
    --cancel-button: rgb(224, 140, 7);
    --cancel-button-hover: rgba(224, 140, 7, 0.8);
    --site-link-color: #DE3400;
    --site-link-color-hover: rgba(222, 52, 0, 0.5);
    --modal-background: rgba(51, 51, 51, 0.5);
    --gutter-x: 0.5rem;
    --gutter-y: 0.5rem;
    --colonne-1-2: calc( (100% / 2) - var(--gutter-x));
}

*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

body{
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
}

table{
    border-collapse: collapse;
}

table th, table td{
    border: 1px solid var(--table-border);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

button{
    min-width: 100px;
    line-height: 1.8rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--site-color);
    cursor: pointer;
}

td button{
    width: 100%;
    border-width: 0;
}

button.edit{
    background-color: var(--edit-button);
    color: var(--site-bg-color);
}

button.edit:hover{
    background-color: var(--edit-button-hover);
    color: var(--site-bg-color);
}

button.delete{
    background-color: var(--site-link-color);
    color: var(--site-bg-color);
}

button.delete:hover{
    background-color: var(--site-link-color-hover);
    cursor: pointer;
}

button.cancel{
    background-color: var(--cancel-button);
    color: var(--site-color);
}

button.cancel:hover{
    background-color: var(--cancel-button-hover);
}

.container{
    margin-left: auto;
    margin-right: auto;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--modal-background);
    display: none;
}

.show{
    display: block;
}

.modal-body{
    background-color: var(--site-bg-color);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    padding: 0.25rem;
}

.modal form textarea{
    width: 100%;
}

@media screen and (min-width: 576px){
    .container{
        width: 540px;
    }
}

@media screen and (min-width: 768px){
    .container{
        width: 720px;
    }
}

@media screen and (min-width: 992px){
    .container{
        width: 960px;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 1140px;
    }
}

@media screen and (min-width: 1400px){
    .container{
        width: 1320px;
    }
}

@media screen and (min-width: 1600px){
    .container{
        width: 1560px;
    }
}